.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-container {
  flex-grow: 1;
  padding: 2rem;
  overflow-y: auto;
}

.home-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
